@import '../../styles/base/mixins';
@import '../../styles/base/variables';

.LogIn {
    height: 100%;
}

.log_wrapper {
    @include flex;
    flex-direction: column;
    height: 100%;
    margin-right: auto;
    margin-left:  auto;
    max-width: 640px;
    padding: 0 24px;
    justify-content: center;
  }

.login_box {
    background: $blue-bg-color;
    padding: 20px;
    border-radius: 4px;
}

.login_form {
    @include flex;
    flex-direction: column;
    margin-top: 30px;
}

.author_field_box {
    margin-bottom: 20px;
}

.author_field {
    width: 100%;
}

.field {
    background-color: $white-color;
    border-radius: 5px;
    border: 2px solid $blue-border;
    color: $blue-border;
    height: 50px;
    font-size: 15px;
    letter-spacing: 0.6px;
    padding: 0 3px;
    @include font-style;
}

h1 {
    color: $white-color;
}

.login_button {
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: #ff876d;
    height: 50px;
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    @include font-style;
    &:hover {
        background-color: #ff876d;
    }
}